<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SekiroSL.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SekiroSL.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <SekiroSL.Settings1>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="GameDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SortWay" serializeAs="String">
                <value />
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Arial Narrow, 10.5pt</value>
            </setting>
        </SekiroSL.Settings1>
    </userSettings>
    <applicationSettings>
        <SekiroSL.Settings1>
            <setting name="SaveEXT" serializeAs="String">
                <value>.sl2</value>
            </setting>
            <setting name="SaveFileName" serializeAs="String">
                <value>S0000.sl2</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>Alpha1.0</value>
            </setting>
        </SekiroSL.Settings1>
    </applicationSettings>
</configuration>
